<div class="box">
    <!-- <a class="button is-danger" href="">GO BACK</a> -->
    <h1 class="title is-1 has-text-centered">About Page</h1>
    <hr>
    <p class="title is-5">This is the TodoList app v1.0.0. It is part of Angular Course From Traversy media <a class="button is-info" target="_blank" href="https://www.youtube.com/watch?v=Fdf5aTYRW0E">click Here To Watch</a></p>
    <p class="title is-5">THis is a Without Css page. If you Like to Add Css Then Feel Free To Add AT <a class="button is-info" target="_blank" href="https://github.com/deve21s/angular-TodoList.git">GitHub Link</a> here</p>
</div>
<p class="footer content has-text-centered title is-1"> <strong> Thank You </strong></p>